/*-------------------------
Simple reset
--------------------------*/


*{
	margin:0;
	padding:0;
}

/*-------------------------
General Styles
--------------------------*/


@font-face {
  font-family: 'semantic';
  src: url('../../node_modules/semantic-ui/dist/themes/default/assets/fonts/icons.eot');
	src: url('../../node_modules/semantic-ui/dist/themes/default/assets/fonts/icons.svg');
	src: url('../../node_modules/semantic-ui/dist/themes/default/assets/fonts/icons.ttf');
	src: url('../../node_modules/semantic-ui/dist/themes/default/assets/fonts/icons.woff');


}

html, body{
	height: 100%;
	font-family: semantic;
}


body{
	font:15px/1.3 'Open Sans', sans-serif;
	color: #5e5b64;
	text-align:center;

}

div.ui.footer.segment{
	background-color: black;
	/*position: fixed;*/
	bottom: 0;
	width: 100%;
	padding: 12px ;
	text-align: right;
	font:15px/1.3 'Open Sans', sans-serif;
	margin-top: 14%;

}

#home{
	height: 100%;
}
#users{
	height: 100%;
}


#gomme{
	height: 100%;
}
/*.container{
	height: 100%;
}*/

/*-------------------------
Gomma Store
--------------------------*/


#gomme {
	  margin-top: 5%;
  }

#vehicle {
	margin-top: 5%;
}

#users {
	margin-top: 5%;
}

#auto{
	 border-color: yellow;
	 border-width: 2px;
	 width: 600px;
 }
#moto{
	border-color: maroon;
	border-width: 2px;
	width: 600px;
}

#commerciali{
	border-color: orange;
	border-width: 2px;
	width: 600px;
}

#menuUser {
	margin-top: 5%;
	text-align:center;
}

div#menuUser div.produttore.field {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div#menuUser div.motorizzazione.field {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div#menuUser div.velocita.field {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div#menuUser div.tabular.menu {
	text-align:center;
}

img {
	width: 32px;
	height: 32px;
}
.ui.stackable.container
{
	width: 100%;
	background-color:#333333;
}
.ui.menu a.item
{
	color:white;
}
.ui.menu a.item:hover
{
	color:white;
}
.ui.menu
{
	border-radius: 0em;
}
.ui.simple.dropdown.item
{
	color:white;
}
.icon
{
	color:white;
}
.texticon
{
	color:white;
}
.ui.menu .ui.dropdown .menu>.item
{
	background: #333333!important;
	color: rgba(255, 254, 254, 0.87)!important;
}
.ui.fluid.button a
{
	bottom:3px;
}
.ui.pointing.secondary.demo.menu a
{
	color:black;
}