<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8"/>
  <title>GommaStore</title>
</head>

<script src="../../bundle.js"></script>


<body ng-app="GommaStoreApp" ng-cloak>

  <div ng-controller="NavController" class="ui fixed inverted menu">
    <div class="ui container">
      <a href="#" class="header item">
        Gomma Store
      </a>
      <div class="ui simple dropdown item">
        Scopri <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="#!listaGomme">Le nostre gomme</a>
          <a class="item" href="#!newGomma">Inserisci una nuova gomma</a>
        </div>
      </div>
      <div class="ui simple dropdown item">
        Chi siamo <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="#">La nostra storia</a>
          <div class="divider"></div>
          <a class="item" href="#">Contattaci</a>
        </div>
      </div>
    </div>
  </div>

  <div ng-view>
  </div>


</body>


</html>
