<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8"/>
  <link rel='stylesheet prefetch' href='http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/css/semantic.min.css'>
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/icon.min.css'>
  <title>WheelsStore</title>
</head>

<script src="../../bundle.js"></script>

<body ng-app="GommaStoreApp" ng-cloak>

  <div class="ui fixed inverted menu">
    <div class="ui container">
      <a href="#!wheelsStore" class="header item">Wheels Store</a>
    </div>
    <div id="nav" class="right menu">
        <a href="#!login" class="item">
            <i class="sign in icon">
            </i> Accedi
        </a>
        <a href="#!insertUser" class="item">
            <i class="add user icon">
            </i> Registrati
        </a>
    </div>
  </div>

  <div ng-view>
  </div>


</body>


</html>
