<div id="users" ng-controller="InsertUserController">
    <h1></h1>
    <h3 style="text-align: center; margin-bottom: 3%;">Inserisci dati</h3>
    <form class="ui form" name="regForm">
        <div class="container">
        <div class="field">
            <label>Username</label>
            <input type="text" name="username" placeholder="Username" ng-model="username" ng-required="true">
        </div>
        <div class="field">
            <label>Password</label>
            <input type="text" name="password" placeholder="Password" ng-model="password" ng-required="true">
        </div>
        <div class="field">
            <label>Nome</label>
            <input type="text" name="firstname" placeholder="Firstname" ng-model="firstname"ng-required="true">
        </div>
        <div class="field">
            <label>Cognome</label>
            <input type="text" name="lastname" placeholder="Lastname" ng-model="lastname" ng-required="true">
        </div>
        <div class="field">
            <label>Data di nascita</label>
            <input type="text" name="dateofbirth" placeholder="Dateofbirth" ng-model="dateofbirth">
        </div>
        <div class="field">
            <label>Codice Fiscale</label>
            <input type="text" name="fiscalcode" placeholder="Fiscalcode" ng-model="fiscalcode">
        </div>
        <div class="field">
            <label>Ragione Sociale</label>
            <input type="text" name="businessname" placeholder="Businessname" ng-model="businessname">
        </div>
        <div class="field">
            <label>P.IVA</label>
            <input type="text" name="vat" placeholder="Vat" ng-model="vat">
        </div>
        <div class="field">
            <label>Comune</label>
            <input type="text" name="municipality" placeholder="Municipality" ng-model="municipality">
        </div>
        <div class="field">
            <label>CAP</label>
            <input type="text" name="post" placeholder="Post" ng-model="post">
        </div>
        <div class="field">
            <label>Luogo di nascita</label>
            <input type="text" name="city" placeholder="City" ng-model="city">
        </div>
        <div class="field">
            <label>Indirizzo</label>
            <input type="text" name="address" placeholder="Address" ng-model="address">
        </div>
        <div class="field">
            <label>Telefono</label>
            <input type="text" name="telephone" placeholder="Telephone" ng-model="telephone">
        </div>

        <button class="ui button" type="submit" ng-disabled="regForm.$invalid" ng-click="sendUser()">Invia</button>
        </div>
    </form>
    <div class="ui positive message" ng-if="insertSuccess">
        <i class="close icon"></i>
        <div class="header">
            Utente Registrato!
        </div>
    </div>
</div>





























