<div id="vehicle" ng-controller="ListVehicleController">
    <h3 style="text-align: center; margin-bottom: 3%;">Veicoli Registrati</h3>
    <div class="column">
        <table class="ui center aligned table">
            <thead>
            <tr><th>Brand</th>
                <th>Model</th>
                <th>Fuel</th>
                <th>Version</th>
                <th>Capacity</th>
            </tr></thead>
            <tbody>
            <tr ng-repeat="vehicle in vehicle">
                <td>{{vehicle.brand}}</td>
                <td>{{vehicle.model}}</td>
                <td>{{vehicle.fuel}}</td>
                <td>{{vehicle.version}}</td>
                <td>{{vehicle.capacity}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
