<div id="gomme" ng-controller="searchForSizeController">
    <h3 style="text-align: center; margin-bottom: 3%;">Pneumatici</h3>
    <div class="column">
        <table class="ui center aligned table">
            <thead>
                <tr>
                    <th>Modello</th>
                    <th>Produttore</th>
                    <th>Prezzo</th>
                    <th>Larghezza</th>
                    <th>Altezza</th>
                    <th>Diametro</th>
                    <th>Peso</th>
                    <th>Velocità</th>
                    <th>Stagione</th>
                    <th>Tipo Veiclo</th>
                    <th>Quantità</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="gomma in gomme">
                    <td>{{gomma.model}}</td>
                    <td>{{gomma.manufacturer}}</td>
                    <td>{{gomma.price}}</td>
                    <td>{{gomma.width}}</td>
                    <td>{{gomma.height}}</td>
                    <td>{{gomma.diameter}}</td>
                    <td>{{gomma.weight}}</td>
                    <td>{{gomma.speed}}</td>
                    <td>{{gomma.season}}</td>
                    <td>{{gomma.typeVehicle}}</td>
                    <td>{{gomma.quantity}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>