<div class="ui container">
    <br><br><br><br><br>
    <form class="ui form" name="adminForm">
        <button type="submit" class=" fluid ui button">
                <a href="#!newGomma"> Inserisci pneumatico </a>
                <img ng-src="{{loadImage('pneumatic')}}" >
        </button>
    </form>
    <br><br>

    <form class="ui form" name="adminForm">
        <button type="submit" class=" fluid ui button">
            <a href="#!insertVehicle"> Inserisci veicolo </a>
            <img ng-src="{{loadImage('auto')}}" >
        </button>
    </form>
    <br><br>

    <form class="ui form" name="adminForm">
        <button type="submit" class=" fluid ui button"> <a href="#!listaGomme"> Visualizza pneumatici</a> <img ng-src="{{loadImage('pneumatic')}}" >
        </button>
    </form>
    <br><br>

    <form class="ui form" name="adminForm">
        <button type="submit" class=" fluid ui button"> <a href="#!getUsers"> Visualizza utenti </a><img ng-src="{{loadImage('user')}}" >
    </button>
</form>
    <br><br>

    <form class="ui form" name="adminForm">
        <button type="submit" class=" fluid ui button"> <a href="#!listaVehicle"> Visualizza veicoli </a><img ng-src="{{loadImage('auto')}}" >
        </button>
    </form>
    <br><br>


</div>