<div class="ui container" ng-controller="NavController">
    <br><br><br><br><br>
    <form class="ui form" name="adminForm">
        <a href="#!newGomma">
        <button type="submit" class=" fluid ui button">  Inserisci pneumatico <img ng-src="{{loadImage('pneumatic')}}" >
    </button>
        </a>

    </form>
    <br><br>

    <form class="ui form" name="adminForm">

        <a href="#!insertVehicle">
        <button type="submit" class=" fluid ui button" > Inserisci veicolo <img ng-src="{{loadImage('auto')}}" >

        </button>
        </a>
    </form>
    <br><br>

    <form class="ui form" name="adminForm">
        <a href="#!listaGomme">
        <button type="submit" class=" fluid ui button">  Visualizza pneumatici <img ng-src="{{loadImage('pneumatic')}}" >
        </button>
        </a>
    </form>
    <br><br>

    <form class="ui form" name="adminForm">
        <a href="#!getUsers">
        <button type="submit" class=" fluid ui button">  Visualizza utenti <img ng-src="{{loadImage('user')}}" >
    </button>
        </a>
</form>
    <br><br>

    <form class="ui form" name="adminForm">
        <a href="#!listaVehicle">
        <button type="submit" class=" fluid ui button">  Visualizza veicoli <img ng-src="{{loadImage('auto')}}" >
        </button>
    </form>
    </a>
    <br><br>


</div>