<div id="menuUser" class="ui column centered grid" ng-controller="NavController">
    <div class="four wide column">
        <div class="ui vertical fluid tabular menu">
            <a class="active yellow item" data-tab="first-auto"><div><img ng-src="{{loadImage('car')}}"></div><div>Auto</div></a>
            <a class="item brown" data-tab="second-moto"><div><img ng-src="{{loadImage('motorcycle')}}"></div><div>Moto</div></a>
            <a class="item orange" data-tab="third-commerciali"><div><img ng-src="{{loadImage('trucking')}}"></div><div>Commerciali</div></a>
        </div>
    </div>

    <div id="auto" class="ui active tab segment" data-tab="first-auto">
        <div  class="ui pointing secondary demo menu">
            <a class="active red item" data-tab="dimensione-auto">Dimensione</a>
            <a class="blue item" data-tab="veicolo-auto">Veicolo</a>
            <a class="green item" data-tab="brand-auto">Brand</a>
        </div>
        <div class="ui active tab segment" data-tab="dimensione-auto" ng-controller="ListaGommeForSizeController">
            <form class="ui form" name="dimensionsAuto">
                <h4 class="ui dividing header">Inserisci Dimensioni</h4>
                <div class="field">
                    <div class="two fields">
                        <div class="field">
                            Larghezza<input type="text" name="width" ng-model="width" ng-required="true">
                        </div>
                        <div class="field">
                            Altezza<input type="text" name="height" ng-model="height" ng-required="true">
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            Diametro<input type="text" name="diameter" ng-model="diameter" ng-required="true">
                        </div>
                        <div class="field">
                            Stagione<input type="text" name="season" ng-model="season" ng-required="true">
                            <input type="hidden" name="typeVehicle" ng-init="typeVehicle='auto';"/>
                        </div>
                    </div>
                </div>
                <button class="ui red button" type="submit" ng-disabled="dimensionsAuto.$invalid" ng-click="sendSize()">Conferma</button>
            </form>
        </div>
        <div class="ui tab segment" data-tab="veicolo-auto" ng-controller="ListaGommeByVehicleController">
            <form class="ui form" name="vehicleAuto">
                <h4 class="ui dividing header">Inserisci Caratteristiche Veicolo</h4>
                <div class="field">
                    <div class="two fields">
                        <div class="field">
                            Marca<input type="text" name="brand" ng-model="brand" ng-required="true">
                        </div>
                        <div class="field">
                            Modello<input type="text" name="model" ng-model="model" ng-required="true">
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            Alimentazione<input type="text" name="fuel" ng-model="fuel" ng-required="true">
                        </div>
                        <div class="field">
                            Versione<input type="text" name="version" ng-model="version" ng-required="true">
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="motorizzazione field">
                            Motorizzazione<input type="text" name="capacity" ng-model="capacity" ng-required="true">
                        </div>
                    </div>
                </div>
                <button class="ui blue button" type="submit" ng-disabled="vehicleAuto.$invalid" ng-click="sendByVehicle()">Conferma</button>
            </form>
        </div>
        <div class="ui tab segment" data-tab="brand-auto" ng-controller="ListaGommeByManufacturerController">
            <form class="ui form" name="brandAuto">
                <h4 class="ui dividing header">Inserisci Produttore</h4>
                <div class="field">
                    <div class="fields">
                        <div class="produttore field">
                            Produttore<input type="text" name="manufactuer" ng-model="manufacturer" ng-required="true">
                            <input type="hidden" name="typeVehicle" ng-init="typeVehicle='auto';"/>
                        </div>
                    </div>
                </div>
                <button class="ui green button" type="submit" ng-disabled="brandAuto.$invalid" ng-click="sendManufacturer()">Conferma</button>
            </form>
        </div>
    </div>

    <div id="moto" class="ui tab segment" data-tab="second-moto">
        <div class="ui pointing secondary demo menu">
            <a class="active red item" data-tab="dimensione-moto">Dimensione</a>
            <a class="green item" data-tab="brand-moto">Brand</a>
        </div>

        <div class="ui active tab segment" data-tab="dimensione-moto" ng-controller="ListaGommeForSizeController">
            <form class="ui form" name="dimensionsMoto">
                <h4 class="ui dividing header">Inserisci Dimensioni</h4>
                <div class="field">
                    <div class="two fields">
                        <div class="field">
                            Larghezza<input type="text" name="width" ng-model="width" ng-required="true">
                        </div>
                        <div class="field">
                            Altezza<input type="text" name="height" ng-model="height" ng-required="true">
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            Diametro<input type="text" name="diameter" ng-model="diameter" ng-required="true">
                        </div>
                        <div class="field">
                            Carico<input type="text" name="weight" ng-model="weight" ng-required="true">
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="velocita field">
                            Velocità<input type="text" name="speed" ng-model="speed" ng-required="true">
                            <input type="hidden" name="typeVehicle" ng-init="typeVehicle='moto';"/>
                        </div>
                    </div>
                </div>
                <button class="ui red button" type="submit" ng-disabled="dimensionsMoto.$invalid" ng-click="sendSize()">Conferma</button>
            </form>
        </div>
        <div class="ui tab segment" data-tab="brand-moto" ng-controller="ListaGommeByManufacturerController">
            <form class="ui form" name="brandMoto">
                <h4 class="ui dividing header">Inserisci Produttore</h4>
                <div class="field">
                    <div class="fields">
                        <div class="produttore field">
                            Produttore<input type="text" name="manufactuer" ng-model="manufacturer" ng-required="true">
                            <input type="hidden" name="typeVehicle" ng-init="typeVehicle='moto';"/>
                        </div>
                    </div>
                </div>
                <button class="ui green button" type="submit" ng-disabled="brandMoto.$invalid" ng-click="sendManufacturer()">Conferma</button>
            </form>
        </div>
    </div>

    <div id="commerciali" class="ui tab segment" data-tab="third-commerciali">
        <div class="ui pointing secondary demo menu">
            <a class="active red item" data-tab="dimensione-commerciali">Dimensione</a>
            <a class="green item" data-tab="brand-commerciali">Brand</a>
        </div>

        <div class="ui active tab segment" data-tab="dimensione-commerciali" ng-controller="ListaGommeForSizeController">
            <form class="ui form" name="dimensionsCommerciali">
                <h4 class="ui dividing header">Inserisci Dimensioni</h4>
                <div class="field">
                    <div class="two fields">
                        <div class="field">
                            Larghezza<input type="text" name="width" ng-model="width" ng-required="true">
                        </div>
                        <div class="field">
                            Altezza<input type="text" name="height" ng-model="height" ng-required="true">
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            Diametro<input type="text" name="diameter" ng-model="diameter" ng-required="true">
                        </div>
                        <div class="field">
                            Carico<input type="text" name="weight" ng-model="weight" ng-required="true">
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="velocita field">
                            Velocità<input type="text" name="speed" ng-model="speed" ng-required="true">
                            <input type="hidden" name="typeVehicle" ng-init="typeVehicle='commerciale';"/>
                        </div>
                    </div>
                </div>
                <button class="ui red button" type="submit" ng-disabled="dimensionsCommerciali.$invalid" ng-click="sendSize()">Conferma</button>
            </form>
        </div>
        <div class="ui tab segment" data-tab="brand-commerciali" ng-controller="ListaGommeByManufacturerController">
            <form class="ui form" name="brandCommerciali">
                <h4 class="ui dividing header">Inserisci Produttore</h4>
                <div class="field">
                    <div class="fields">
                        <div class="produttore field">
                            Produttore<input type="text" name="manufactuer" ng-model="manufacturer" ng-required="true">
                            <input type="hidden" name="typeVehicle" ng-init="typeVehicle='commerciale';"/>
                        </div>
                    </div>
                </div>
                <button class="ui green button" type="submit" ng-disabled="brandCommerciali.$invalid" ng-click="sendManufacturer()">Conferma</button>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('.tabular.menu .item').tab({history:false});
    });

    $(document).ready(function(){
        $('.demo.menu .item').tab({history:false});
    });
</script>

