<div id="gomme" ng-controller="NewGommaController">
<br>
  <h1 style="text-align: center; margin-bottom: 3%;">Inserisci pneumatico</h1>
  <br>
  <form class="ui form" name="newGommaForm">
  <div class="field">
    <label>Modello</label>
    <input type="text" name="model" placeholder="Model" ng-model="model" ng-required="true">
  </div>
  <div class="field">
    <label>Produttore</label>
    <input type="text" name="manufactuer" placeholder="Manufacturer" ng-model="manufacturer" ng-required="true">
  </div>
  <div class="field">
    <label>Prezzo</label>
    <input type="text" name="price" placeholder="Price" ng-model="price" ng-required="true">
  </div>
  <div class="field">
    <label>Larghezza</label>
    <input type="text" name="width" placeholder="Width" ng-model="width" ng-required="true">
  </div>
  <div class="field">
    <label>Altezza</label>
    <input type="text" name="height" placeholder="Height" ng-model="height" ng-required="true">
  </div>
  <div class="field">
    <label>Diametro</label>
    <input type="text" name="diameter" placeholder="Diameter" ng-model="diameter" ng-required="true">
  </div>
  <div class="field">
    <label>Peso</label>
    <input type="text" name="weight" placeholder="Weight" ng-model="weight" ng-required="true">
  </div>
  <div class="field">
    <label>Velocità</label>
    <input type="text" name="speed" placeholder="Speed" ng-model="speed" ng-required="true">
  </div>
  <div class="field">
    <label>Stagione</label>
    <input type="text" name="season" placeholder="Season" ng-model="season" ng-required="true">
  </div>
  <div class="field">
    <label>Tipo Veicolo</label>
    <input type="text" name="typeVehicle" placeholder="TypeVehicle" ng-model="typeVehicle" ng-required="true">
  </div>
  <div class="field">
    <label>Quantità</label>
    <input type="text" name="quantity" placeholder="Quantity" ng-model="quantity" ng-required="true">
  </div>
    <button class="ui button" type="submit" ng-disabled="newGommaForm.$invalid" ng-click="sendGomma()">Accedi</button>
</form>
<div class="ui positive message" ng-if="!insertSuccess">
  <i class="close icon"></i>
  <div class="header">
      Pneumatico non inserito!
  </div>
</div>
</div>

