<div id="gomme">
  <h1 style="text-align: center; margin-bottom: 3%;">Wheels Store</h1>


  <div class="jumbotron">

    <h2> VI AUGURA BUON DIVERTIMENTO NELLA SCELTA DEL PRODOTTO GIUSTO!</h2><br><br>
    <h4> Qui troverete tutte le migliori marche, i fornitori con il miglior rapporto prezzo/prestazioni e le migliori offerte.</h4>
    <h4>Oltre ai migliori pneumatici estivi e pneumatici invernali troverete anche pneumatici per tutto l'anno e pneumatici speciali per ogni occasione.</h4>
    <h4> Rappresentiamo i principali produttori di pneumatici Bridgestone, Continental, Pirelli, Goodyear, Dunlop e Michelin, e molti altri.</h4>
    <h4> Dopo aver inserito la misura del pneumatico (larghezza, altezza, indice di carico e velocità) identifichiamo il prodotto giusto per Voi, in modo facile e veloce.</h4>
  </div>
</div>
